<!DOCTYPE html>
<html>
<head lang="en">
    <title>帮助中心-文案管理系统</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="/public/stylesheets/eleme-help.css">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/bower_components/EpicEditor/epiceditor/js/epiceditor.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">文案管理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/help/v-question">帮助中心</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
</nav>

<div class="container">
    <%- body %>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom eleme-help-footer">
    <p><a href="http://ele.me">主站</a></p>
</footer>
</body>
</html>